<h2>Rank your friend</h2>

<%= form_tag("/facebook/rank", :method => "get") do %>
  <%= select_tag(:friend, options_for_select(options_from_friends(@friends))) %>

  <%= submit_tag("Rank") %>
<% end %>

<% if @posts %>
  <h3>Ranking</h3>

  <ul>
    <% @posts.each do |post| %>
      <li><%= post[:name] %> -- <%= post[:nb_comments] %> comment(s)</li>
    <% end %>
  </ul>
<% end %>